@import 'tokens.scss';

.row {
    display: flex;
    flex-direction: column;

    &.reverse {
        flex-direction: column-reverse;
    }
    
}
.column {
    flex: 1;
    flex-basis: 0;
    margin-left: calc($spaceXLarge / 2);
    margin-right: calc($spaceXLarge / 2);

    &.flex {
        display: flex;
    }

    &.clearfix {
        margin-left: 0;
        margin-right: 0;
    }
    &.clearleft {
        margin-left: 0;

        &--on-tablet {
            margin-left: 0;
        }

        &--on-mobile {
            margin-left: 0;
        }
    }
    &.no-grow {
        flex-grow: 0;
    }
    &.helper {
        max-width: 50%;
    }
}